/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
  --color-decor: var(--color-purple);
  --color-text-header__theme-menu: var(--color-purple);
  --color-button-hover: var(--color-purple_opacity);
  --color-button: var(--color-purple);
  --color-title: var(--color-fuchsia);
  --color-text-shadow: var(--color-purple);
  --color-paragraf__title: var(--color-dark_blu);
  --color-content__paragraf: var(--color-lavender);
  --color-link: var(--color-purple);
  --color-link-focus: var(--color-lavender);
  --color-content__title: var(--color-dark_blu);
  --style: var(--color-purple);
  --color-fon-title-decor: var(--color-purple);
  --bg-image: url(../images/cover-image-dark.png);
  --color-h3: var(--color-dark_blu);
  --color-fon: var(--color-dark_blu);
  --url-color: var(--color-lavender);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

