/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --color-dark_green: #353430;
  --color-dark_green_opacity: rgb(49, 53, 48, 0.4);
  --color-Cotton_candy: #FFC2E6;
  --color-purple_pink: #FF8DCB;
  --color-lavender: #F1B2CE;
  --font-family_Mono: "IBM Plex Mono";
  --font-size_text: 18px;
} 


@media (prefers-color-scheme: light) {
  :root {
    /*
    Дублируем переменные светлой темы
    */
    --color-dark_green: #353430;
    --color-dark_green_opacity: rgb(49, 53, 48, 0.4);
    --color-Cotton_candy: #FFC2E6;
    --color-purple_pink: #FF8DCB;
    --color-lavender: #F1B2CE;
    --font-family_Mono: "IBM Plex Mono";
    --font-size_text: 18px;
  }

  :root.theme-light {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --bg-image: url(../images/cover-image-light.png);
    --color-dark_green: #353430;
    --color-Cotton_candy: #FFC2E6;
    --color-purple_pink: #FF8DCB;
    --font-family_Mono: "IBM Plex Mono";
    --font-size_text: 18px;
    --сcolor-Pink_lavender: rgb(255, 241, 247);
  }

  .theme-light .page {
    /* Вам также нужно будет написать ряд подобных селекторов */
    background-image: var(--bg-image);
    background-color: var(--сcolor-Pink_lavender);
  }
  
  .theme-light .decorated-elements::before {
    border-top: 1px solid var(--color-dark_green);
    border-right: 1px solid var(--color-dark_green);
  }
    
  .theme-light .decorated-elements::after {
    border-bottom: 1px solid var(--color-dark_green);
    border-left: 1px solid var(--color-dark_green);
  }
  
  .theme-light .rec-element {
    display: none;
  }
  
  .theme-light .header__theme-menu {
    color: var(--color-dark_green);
  }
  
  .theme-light .header__theme-menu-button:hover {
    outline: 1px solid var(--color-dark_green_opacity);
  }
  
  .theme-light .header__theme-menu-button_active {
    outline: 1px solid var(--color-dark_green);
    pointer-events: none;
  }
  
  .theme-light .header__theme-menu-button:focus {
    outline: none;
  } 
  
  .theme-light .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--color-dark_green);
  }

  .theme-light .header__title {
    color: var(--color-Cotton_candy);
    text-shadow: 4px 4px var( --color-purple_pink);
  }
  
  .theme-light .paragraf__title {
    color: var(--color-dark_green);
  }
  
  .theme-light .title-decor {
    background-color: var(--color-purple_pink);
  }
  
  .theme-light .main__title {
    color: var(--color-dark_green);
  }
  
  .theme-light .content__paragraf {
    color: var(--color-dark_green);
  }
  
  .theme-light .style {
    text-shadow: 4px 4px var(--color-purple_pink);
  }
  
  .theme-light .footer__decorated-elements::before {
    border-top: 1px solid var(--color-dark_green);
    border-right: 1px solid var(--color-dark_green);
  }
  
  .theme-light .footer__decorated-elements::after {
    border-bottom: 1px solid var(--color-dark_green);
    border-left: 1px solid var(--color-dark_green);
  }
  
  .theme-light .title__footer {
    color: var(--color-Cotton_candy);
    text-shadow: 4px 4px var( --color-purple_pink);
  }
}