
/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --color-decor: var(--color-dark-grey);
  --color-text-header-theme-menu: var(--color-dark-grey);
  --color-button-hover: var(--color-dark-grey-opacity);
  --color-button: var(--color-dark-grey);
  --color-title: var(--color-pink);
  --color-text-shadow: var(--color-purple-pink);
  --color-paragraf-title: var(--color-dark-grey);
  --color-content-paragraf: var(--color-dark-grey);
  --color-link: var(--color-purple-pink);
  --color-link-focus: var(--color-purple-pink);
  --color-content-title: var(--color-dark-grey);
  --color-fon-title-decor: var(--color-purple-pink);
  --color-title-aricle: var(--color-dark-grey);
  --color-fon: var(--color-lavander-fon);
  --color-main-url-hover: var(--color-dark-grey);
  --color-article-block-title: var(--color-dark-grey);
}

.theme-light .rec-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /*
    Дублируем переменные светлой темы
    */
    --bg-image: url(../images/cover-image-light.png);
    --color-decor: var(--color-dark-grey);
    --color-text-header-theme-menu: var(--color-dark-grey);
    --color-button-hover: var(--color-dark-grey-opacity);
    --color-button: var(--color-dark-grey);
    --color-title: var(--color-pink);
    --color-text-shadow: var(--color-purple-pink);
    --color-paragraf-title: var(--color-dark-grey);
    --color-content-paragraf: var(--color-dark-grey);
    --color-link: var(--color-purple-pink);
    --color-link-focus: var(--color-purple-pink);
    --color-content-title: var(--color-dark-grey);
    --color-fon-title-decor: var(--color-purple-pink);
    --color-title-aricle: var(--color-dark-grey);
    --color-fon: var(--color-lavander-fon);
    --color-main-url-hover: var(--color-dark-grey);
    --color-article-block-title: var(--color-dark-grey);
  }

  .rec-element {
    display: none;
  }

}