 /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  background-image: var(--bg-image);
  background-color: var(--color-dark_blu);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  min-height: 668px;
  padding: 10px;
  align-items: center;
}


.decorated-elements::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-purple);
  border-right: 1px solid var(--color-purple);
}
  
.decorated-elements::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-purple);
  border-left: 1px solid var(--color-purple);
}

.rec-element {
  display: flex;
  gap: 10px;
  position: absolute;
  margin-inline: 10px;
  right: 10px;
  top: 10px;
}

.rec-element::before {
  content: "REC";
  font-size: var(--font-size_text);
  color: var(--color-purple);
  font-family: var(--font-family_Mono);
}

.rec-element::after {
  content: "";
  align-self: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-purple);
  box-shadow: 0 0 4px 2px var(--color-purple);
}

.header__theme-menu {
  color: var(--color-purple);
}

.header__theme-menu-button {
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_normal);
  font-size: var(--font-size_text);
  line-height: 18px;
  text-align: center;
  height: 26px;
  width: 70px;
  border: 1px solid transparent;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-purple_opacity);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-purple);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  text-decoration: underline;
} 

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-purple);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title {
  min-height: 192px;
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--color-fuchsia);
  text-shadow: 4px 4px var( --color-purple);
  justify-self: start;
}

.paragraf__title {
  display: block;
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_bold);
  font-size: var(--font-size_text);
  line-height: 23.4px;
  color: var(--color-dark_blu);
}

.title-decor {
  background-color: var(--color-purple);
}

.main__title {
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_bold);
  font-size: var(--font-size_text);
  line-height: 23.4px;
  color: var(--color-purple);
}

.content__paragraf {
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_normal);
  font-size: var(--font-size_text);
  line-height: 23.4px;
  color: var(--color-lavender);
}

.content__title {
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_bold);
  font-size: var(--font-size_text);
  line-height: 23.4px;

}

.main {
  margin: 40px 10px 0px;
  display: grid;
  grid-row-gap: 50px
}

.link {
  text-decoration: none;
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

.style {
  text-shadow: 4px 4px var( --color-purple);
}

.title-block__three {
  display: block;
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_bold);
  font-size: var(--font-size_text);
  line-height: 23.4px;
}

.article-block {
  display: grid;
  gap: 20px;
}

.paragraf__list {
  display: grid;
  gap: 20px;
}

.paragraf__item {
  display: grid;
  gap: 10px;
}

.title-zona {
  font-weight: var(--font-weight_normal);
}

.block {
  display: grid;
  gap: 20px;
}

.block-gallery {
  display: grid;
  gap: 10px;
}
.paragraf__list-block {
  display: grid;
  gap: 20px;
}
.gallery {
  margin-block-start: 10px;
  display: grid;
  gap: 10px;
}

.gallery__image {
  max-inline-size: 100%;
  min-block-size: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-block-start: 40px;
  display: grid;
  min-height: 667px;
  padding: 10px;
  align-items: center;
  position: relative;
}

.footer__decorated-elements::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-purple);
  border-right: 1px solid var(--color-purple);
}

.footer__decorated-elements::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-purple);
  border-left: 1px solid var(--color-purple);
}

.title__footer {
  font-family: var(--font-family_Mono);
  font-weight: var(--font-weight_bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--color-fuchsia);
  text-shadow: 4px 4px var( --color-purple);
  justify-self: center;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .decorated-elements::before {
    top: 20px;
    right: 20px;
  }
    
  .decorated-elements::after {
    bottom: 20px;
    left: 20px;
  }
  
  .rec-element {
    right: 20px;
    top: 20px;
  }

  .header__theme-menu {
    padding-block-start: 40px;
  }
  
  .header__title {
    margin-inline-start: -20px;
    padding-block-start: 50px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .paragraf__title {
    margin-block-start: -50px;
    inline-size: 50%
  }

  .main {
    margin: 60px 20px;
    display: grid;
    grid-row-gap: 80px;
  }

  .block__one {
    display: grid;
	  grid-template-columns: repeat(3, 1fr);
  }

  .content-block {
    margin-inline-start: 7px;
  }

  .main__title {
    grid-area: 1/1/2/2;
  }

  .paragraf__list-block {
    grid-area: 1 / 2 / 2 / 4;
  }

  .block__two {
    display: grid;
	  grid-template-columns: repeat(5, 1fr);
  }

  .main__title__Concentration {
    grid-area: 1/1/2/2;
  }

  .paragraf__list-block__two {
    grid-area: 2 / 1 / 3 / 6;
  } 

  .block__three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__title-concentration {
    grid-area: 1/1/2/2;
  }

  .list-block {
    grid-area: 1 / 2 / 2 / 4;
  } 

  .gallery {
    margin-block-start: 20px;
    display: grid;
    gap: 20px;
    inline-size: 100%;
    object-fit: cover;
    justify-content: center;
  }

  .sunset {
    grid-area: 1 / 1 / 2 / 3;
  }

  .cream {
    grid-area: 1 / 3 / 3 / 4;
  }

  .books {
    grid-area: 2/2/3/3;
  }

  .tape {
    grid-area: 2 / 1 / 4 / 2;
  }

  .street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .footer {
    display: grid;
    min-height: 1024px;
    padding: 20px;
  }

  .title__footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .footer__decorated-elements::before {
    top: 20px;
    right: 20px;
  }
  
  .footer__decorated-elements::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .paragraf__title {
    margin-block-start: -30px;
  }

  .content-block {
    margin-inline-start: 0px;
}

  .block__two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__title__Concentration {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .paragraf__list-block__two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1 / -1;
    grid-row: 2 span;
  }

  .footer {
    min-height: 768px;
  }

}