 /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
 body {
  font-family: var(--font-family_Mono);
  font-size: var(--font-size_text);
  line-height: 23.4px;
  font-weight: var(--font-weight_bold);
 }

.page {
  background-image: var(--bg-image);
  background-color: var(--color-fon);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  min-height: 668px;
  padding: 10px;
  align-items: center;
}

h3 {
  color: var(--color-h3);
}

.decorated-elements::before,
.decorated-elements::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
}

.decorated-elements::before {
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-decor);
  border-right: 1px solid var(--color-decor);
}
  
.decorated-elements::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--color-decor);
  border-left: 1px solid var(--color-decor);
}

.rec-element {
  display: flex;
  gap: 10px;
  position: absolute;
  margin-inline: 10px;
  right: 10px;
  top: 10px;
}

.rec-element::before {
  content: "REC";
  font-weight: var(--font-weight_normal);
  line-height: 25px;
  color: var(--color-decor);
}

.rec-element::after {
  content: "";
  align-self: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-decor);
  box-shadow: 0 0 4px 2px var(--color-decor);
}

.theme-light .rec-element,
.theme-auto .rec-element {
  display: none;
}

.header__theme-menu {
  color: var(--color-text-header__theme-menu);
}

.header__theme-menu-button {
  font-weight: var(--font-weight_normal);
  min-width: 70px;
  border: 1px solid transparent;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-button);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--color-button);
} 

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-button);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 99px;
  color: var(--color-title);
  text-shadow: 4px 4px var(--color-text-shadow);
}

.header__title {
  justify-self: start;
}

.paragraf__title {
  display: block;
  color: var(--color-paragraf__title);
}

.title-decor {
  background-color: var(--color-fon-title-decor);
  font-size: var(--font-size_text);
}

.main__title {
  color: var(--color-decor);
  font-size: var(--font-size_text);
}

.content__paragraf {
  font-weight: var(--font-weight_normal);
  color: var(--color-content__paragraf);
}

.main {
  margin: 40px 10px 0px;
  display: grid;
  grid-row-gap: 50px;
}

.block__element,
.article-block,
.paragraf__list,
.block,
.paragraf__list-block {
  display: grid;
  gap: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--color-link);
}

.link:hover {
  border-bottom: 1px solid var(--url-color);
}

.link:focus-visible {
  outline: 1px solid var(--color-link-focus);
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 


.content__title {
  color: var(--color-content__title);
}

.block-gallery,
.gallery {
  display: grid;
  gap: 10px;
}

.title-weight {
  font-weight: var(--font-weight_normal);
}

.gallery {
  margin-block-start: 10px;
}

.gallery__image {
  max-inline-size: 100%;
  min-block-size: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.footer {
  display: grid;
  margin-block-start: 40px;
  min-height: 667px;
  padding: 10px;
  align-items: center;
  position: relative;
}

.title__footer {
  justify-self: center;
}

@media (width >= 768px) {
  .header,
  .footer {
    min-height: 1024px;
    padding: 20px;
  }

  .decorated-elements::before,
  .rec-element {
    top: 20px;
    right: 20px;
  }
    
  .decorated-elements::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .paragraf__title {
    inline-size: 50%
  }

  .main {
    margin: 60px 20px;
    grid-row-gap: 80px;
  }

  .block {
	  grid-template-columns: repeat(3, 1fr);
  }

  .block__element {
    margin-inline-start: 7px;
  }

  .main__title {
    grid-area: 1/1/2/2;
  }

  .block__element,
  .list-block,
  .cream {
    grid-area: 1 / 2 / 2 / 4;
  }

  .block__element__Concentration {
    grid-area: 2 / 1 / 3 / 6;
  } 

  .gallery {
    margin-block-start: 20px;
    gap: 20px;
  }

  .sunset {
    grid-area: 1 / 1 / 2 / 3;
  }

  .cream {
    grid-area: 1 / 3 / 3 / 4;
  }

  .books {
    grid-area: 2/2/3/3;
  }

  .tape {
    grid-area: 2 / 1 / 4 / 2;
  }

  .street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .title__footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .paragraf__title {
    margin-block-start: 10px;
  }

  .block__element {
    margin-inline-start: 0px;
}

  .block__element__Concentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__title__Concentration {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

}